---
title:
---

{{#extend "base"}}
  {{#content "maincontent"}}
    <h2>A Website to Test with Pa11y</h2>
    <p>These examples can be tested by <a href="https://pa11y.org">Pa11y</a> by downloading <a href="https://github.com/cdlib/pa11y-sample-project">the repository for this website</a> and running the commands from the pa11y-sample-project root directory.</p>
    <p>Examples on this site are represented as a pair. One page in the pair contains common accessibility errors, the other version of the page doesn't.</p>
    <h3>Testing One Page at a Time</h3>
    <ol>
      <li>
        <p>Run the following command from your CLI tool:</p>
        <blockquote>
          <code>npm run pa11y -- https://cdlib.github.io/pa11y-sample-project/without-errors1.html</code>
        </blockquote>
        <p>After running, Pa11y should return "no issues found".</p>
      </li>
      <li>
        <p>Test another page by running this command:</p>
        <blockquote>
          <code>npm run pa11y -- https://cdlib.github.io/pa11y-sample-project/with-errors1.html</code>
        </blockquote>
        <p>After running, Pa11y should return two errors.</p>
      </li>
      <li>Test other pages by replacing the URLs from the command above with other URLs of example pages from this site.</li>
    </ol>
    <h3>Testing All Pages at the Same Time</h3>
    <ol>
      <li>
        <p>Run the following command from your CLI tool:</p>
        <blockquote>
          <code>npm run pa11y-ci</code>
        </blockquote>
        <p>Pa11y should return "0 errors" for the 5 pages without errors and multiple errors for the 5 pages with errors.</p>
        <p>Additionally, Pa11y should generate a screen capture of the Document Structure (with errors) page at 400 pixels wide and copy it as a .png file to the pa11y-screencaptures directory of this site's repository.</p>
      </li>
    </ol>
  {{/content}}
{{/extend}}
