//- title: Links | Examples With Errors

extends templates/base.pug

block maincontent
  <h2>Examples With Errors</h2>
  <h3>Links</h3>
  <p>The <a href="https://www.cdlib.org"></a> California Digital Library has assembled one of the world’s largest digital research libraries.<p>
  <p>Learn about the <a href="https://github.com/pa11y/pa11y"></a> Pa11y accessibility tool on GitHub and how to use it to test your website.<p>
  <hr>
  <div class="c-finding__with-error">
    <p>The links in the sentences above don't contain discernible text or other content.</p>
  </div>
