//- title: Alternative Text - Examples Without Errors

extends templates/base.pug

block maincontent
  <h2>Examples Without Errors</h2>
  <h3>Alternative Text</h3>
  <img class="c-image" width="400px" height="300px" src="https://loremflickr.com/400/300/yosemite">
  <hr>
  <div class="c-finding__without-error">
    <p>The <code>alt</code> attribute is present within this image and contains <q>Scene within Yosemite National Park</q>.</p>
  </div>
