//- title: Document Structure | Examples Without Errors

extends templates/base.pug

block maincontent
  <h2>Examples Without Errors</h2>
  <h3>Document Structure</h3>
  <p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Ullam voluptatibus illo ad, aspernatur omnis at neque, maxime praesentium sit nulla deleniti odio, nemo explicabo? Ipsa magni culpa pariatur rerum voluptas.</p>
  <h4>Level 4 Heading</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eligendi accusamus non eos praesentium, veniam ad commodi facere hic asperiores doloremque nihil sapiente repellendus recusandae porro molestias nemo earum soluta.</p>
  <h5>Level 5 Heading</h5>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim voluptatum doloremque corporis excepturi non provident ipsam itaque eveniet, harum rem beatae cumque eaque quisquam consequuntur quam. Velit ducimus aspernatur, ratione!</p>
  <hr>
  <div class="c-finding__without-error">
    <p>These headings are in the correct order.</p>
  </div>
