
//- title: Alternative Text - Examples With Errors

extends templates/base.pug
block maincontent
    <h2>Examples With Errors</h2>
    <h3>Alternative Text</h3>
    <img class="c-image" width="400px" height="300px" src="https://loremflickr.com/400/300/yosemite">
    <hr>
    <p>The <code>alt</code> attribute is missing from this image.</p>
