---
title: Document Structure | Examples With Errors
---

{{#extend "base"}}
  {{#content "maincontent"}}
    <h2>Examples With Errors</h2>
    <h3>Document Structure</h3>
    <h5>Level 5 Heading</h5>
    <h4>Level 4 Heading</h4>
    <hr>
    <p>These headings are out of order.</p>
  {{/content}}
{{/extend}}
