//- title: Form Labels - Examples Without Errors

extends templates/base.pug

block maincontent
  <h2>Examples Without Errors</h2>
  <h3>Form Labels</h3>
  <div class="c-input">
    <label for="field1">Example 1:</label>
    <input id="field1" type="text">
  </div>
  <div class="c-input">
    <label for="field2">Example 2:</label>
    <select name="" id="field2">
      <option value="">Apples</option>
      <option value="">Oranges</option>
      <option value="">Bananas</option>
      <option value="">Grapes</option>
      <option value="">Pineapples</option>
    </select>
  </div>
  <div class="c-input">
    <label for="field3">Example 3:</label>
    <textarea name="" id="field3"></textarea>
  </div>
  <hr>
  <div class="c-finding__without-error">
    <p>All three of these inputs have correctly associated labels.</p>
  </div>
