---
title: Table Headers | Examples With Errors
---

{{#extend "base"}}
  {{#content "maincontent"}}
    <h2>Examples With Errors</h2>
    <h3>Table Headers</h3>
    <table class="c-table">
      <tr>
        <th>Filename</th>
        <th>Status</th>
        <th>URL</th>
        <th>Type</th>
      </tr>
      <tr>
        <th>prelim_findings</th>
        <td>New</td>
        <td>https://usercontent.example.com/files/...</td>
        <td>PDF</td>
      </tr>
      <tr>
        <th>DraftOrder</th>
        <td>Archived</td>
        <td>https://filelocker.example.com/files/...</td>
        <td>DOC</td>
      </tr>
      <tr>
        <th>debut-files</th>
        <td>Archived</td>
        <td>https://box.example.com/files/...</td>
        <td>ZIP</td>
      </tr>
      <tr>
        <th>logos</th>
        <td>New</td>
        <td>https://dochoarder.example.com/files/...</td>
        <td>SVG</td>
      </tr>
    </table>
    <hr>
    <p>This table is missing row and column headers.</p>
  {{/content}}
{{/extend}}
