---
title: Document Structure | Examples With Errors
---

{{#extend "base"}}
  {{#content "maincontent"}}
    <h2>Examples With Errors</h2>
    <h3>Document Structure</h3>
    <p>Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Ullam voluptatibus illo ad, aspernatur omnis at neque, maxime praesentium sit nulla deleniti odio, nemo explicabo? Ipsa magni culpa pariatur rerum voluptas.</p>
    <h5>Level 5 Heading</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eligendi accusamus non eos praesentium, veniam ad commodi facere hic asperiores doloremque nihil sapiente repellendus recusandae porro molestias nemo earum soluta.</p>
    <h4>Level 4 Heading</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim voluptatum doloremque corporis excepturi non provident ipsam itaque eveniet, harum rem beatae cumque eaque quisquam consequuntur quam. Velit ducimus aspernatur, ratione!</p>
    <div class="c-mobiletest">
      <h6>Level 6 Heading (Mobile Screen Size Only)</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minus, sapiente corrupti dolorum est animi earum ipsam accusantium dolor ratione, voluptas, obcaecati rerum minima, nihil provident. Enim qui omnis dolorem?</p>
    </div>
    <hr>
    <p>These headings are out of order.</p>
  {{/content}}
{{/extend}}
