---
title: Color Contrast - Examples Without Errors
---

{{#extend "base"}}
  {{#content "maincontent"}}
    <h2>Examples Without Errors</h2>
    <h3>Color Contrast</h3>
    <div class="c-contrast__withouterrors">
      <p>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Sed quis officiis explicabo eum reiciendis aperiam est tempore dignissimos, aut facere quia, nemo pariatur eius magnam odio, quod? Consequatur, dolorem quibusdam.</p>
    </div>
    <hr>
    <p>These text and background colors have sufficient contrast.</p>
  {{/content}}
{{/extend}}
