/* Finding Component */

.c-finding__with-error,
.c-finding__without-error {
  --icon-size: var(--space-base);
  --icon-path: '';
  --icon-color: '';

  display: flex;
  gap: var(--space-sm);

  &::before {
    content: '';
    flex: none;
    block-size: var(--icon-size);
    inline-size: var(--icon-size);
    mask-size: var(--icon-size);
    mask-position: center;
    mask-image: var(--icon-path);
    background-color: var(--icon-color);
  }

  & p {
    margin-block-start: 0;
    margin-block-end: var(--space-base);
  }
}

.c-finding__with-error {
  --icon-path: url('data-url:/fa-regular/circle-exclamation.svg');
  --icon-color: var(--color-red);
}

.c-finding__without-error {
  --icon-path: url('data-url:/fa-regular/check.svg');
  --icon-color: var(--color-green);
}
