/* Main Content */

.c-maincontent {
  padding-inline-start: var(--space-md);
  padding-inline-end: var(--space-md);

  /* remove top margin from the first element: */

  & > * {
    margin-block-start: 0;
  }
}

@media (--largescreen) {

  .c-maincontent {
    border-inline-start: 1px solid var(--color-gray-dark);
  }
}
