/* Base */

@use './node_modules/modern-normalize/modern-normalize.css';

/* Elements */

@use 'elements';

/* Components */

@use 'examples';
@use 'footer';
@use 'header';
@use 'maincontent';
@use 'nav';
@use 'skipnav';

/* Layout */

@use 'layout';

/* Global Variables */

:root {
  --color-black: hsl(0, 0%, 0%);
  --color-blue: hsl(240, 100%, 40%);
  --color-gray-light: hsl(0, 0%, 95%);
  --color-gray-dark: hsl(0, 0%, 70%);
  --color-orange: hsl(30, 100%, 50%);
  --color-red: hsl(0, 100%, 30%);
  --color-white: hsl(0, 0%, 100%);
  --space-base: 1rem;
  --space-md: calc(var(--space-base) * 2);
}
